{% extends 'weather/weather_base.html' %}
{% load static %}
{% block page_content %}
    <section class="container pt-5 gap-3 d-flex flex-column align-items-center">
        <form action="{% url 'weather:locations' %}" role="search" class="d-flex container-sm" style="max-width: 800px">
            {{ location_search_form }}
        </form>
    {% if messages %}
        {% include 'includes/messages-block.html' %}
    {% endif %}
    <div class="container-sm d-flex flex-column align-items-center" style="max-width: 600px">
        <div class="py-3">
            {% with page=locations_page %}
                {% include 'includes/pagination-block.html' %}
            {% endwith %}
        </div>
        <div class="fs-2 mb-3">Your locations</div>
        {% for location, weather in locations_weather %}
        <table class="w-100" style="max-width: 450px">
            <tr>
                <td class="align-top">
                    <div class="fs-2">{{ weather.main_temperature|floatformat:1 }} &degC</div>
                    <img 
                            src="{% static 'weather_icons/' %}{{ weather.weather_icon }}.png" class="d-inline-block"
                            width="40" height="40"
                    >
                    {{ weather.weather_description }}
                </td>
                <td class="align-top">
                <img src="{% static 'country_flags/' %}{{ location.country|lower }}.svg" class="d-inline-block">
                {{ location.name }}<br>
                {{ location.latitude }} {{ location.longitude }}
                <!-- TODO: add date record -->
                </td>
            </tr>
            <tr>
                <td>
                    Pressure: {{ weather.main_pressure }}<br>
                    Humidity: {{ weather.main_humidity }}<br>
                    Wind speed: {{ weather.wind_speed }}
                </td>

            </tr>
        </table>
        {% endfor %}
    </div>
    </section>
{% endblock %}
