{% extends 'base.html' %}
{% block body %}
<div class="container align-middle">
    {% block form_section %}
        <form action="{% block form_action %}{% endblock %}" class="mx-auto pt-3" style="width: 40%" method="{% block form_method %}{% endblock %}">
        {% csrf_token %}
        {% block form_content %}{% endblock %}
        <input type="submit" class="btn btn-primary" value="{% block form_submit_value %}{% endblock %}">
        </form>
    {% endblock form_section %}
</div>
{% endblock %}